<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>About Us</h5>
        <p>GlowGirl is your one-stop shop for beauty products.</p>
      </div>
    
      <div class="col-md-3 text-md-end">
        <h5>Contact Us</h5>
        <p>Email: info&#64;glowgirl.com</p>
        <p>Phone: +123-456-7890</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; 2024 GlowGirl. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
